@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Playfair+Display&family=Prompt:wght@100;200;300&display=swap");
* {
  font-family: "Balsamiq Sans", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Prompt", sans-serif;
}
